body {
    background-color: rgb(245, 244, 234);
    
}
h1{
    font-size: 40px;
}
h2{
    font-size: 28px;
    margin: 10px;
}
p{
    margin: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
strong {
    font-size: 19px;
}
.centeralizar-teste{
    text-align: center;
}